body {
  font-family: "Sora", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}


.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  
}

.cta-button {
  background: #ffe0e0;
  font-family: sora;
  color: #dc5757;
  width: 160px;
  border: none;
  border-radius: 10px;
  font-weight: 400;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.job-heroes-section {
  background: linear-gradient(to top, #ffe4e4, #FFFFFF);
  padding: 80px 24px 160px;
  color: #1f1515;
  display: flex;
  align-items: center;
}

.job-heroes-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-heroes-content {
  text-align: center;ßßß
  margin-bottom: 30px;
}

.job-heroes-image {
  max-width: 1200px;
  max-height: 800px;
  min-width: 300px;
  min-height: 200px;
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 20px;
}

.job-heroes-title {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.4;
  color: #989898;
}

.job-heroes-emphasis {
  color: #ff6868;
  font-weight: 700;
}








.resume-analyzer-section {
  background: linear-gradient(to right, #FF6D75, #F65734);
  display: flex;
  align-items: center;
}

.resume-analyzer-container {
  padding: 140px 32px;
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
}

.title-area {
  text-align: center;
  margin-bottom: 2rem;
}

.title-area h1 {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  color: #ffffff;
}

.main {
  background: #FFFFFF;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  color: #333333;
}

.file-upload {
  margin: 30px 0;
  text-align: center;
}

.file-upload input[type="file"] {
  display: none;
}

.file-upload label {
  display: inline-block;
  padding: 12px 30px;
  background-color: #ffffff;
  border: 3px solid #e57878;
  color: #e54e4e;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.file-upload label:hover {
  background-color: #bb3e3b;
}

#file-name {
  margin-top: 10px;
  font-style: italic;
  font-weight: 300;
  color: #666666;
}

button {
  display: block;
  margin-top: 20px;
  width: 100%;
  height: 64px;
  padding: 12px;
  background: linear-gradient(to right, #FF6D75, #F65734);
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Space Grotesk', sans-serif;
  transition: background-color 0.3s ease;
}


button:hover {
  background: #cb5f5f;
}

#analysis {
  margin-top: 20px;
  padding: 26px;
  background-color: rgb(255, 230, 230);
  border-radius: 10px;
  color: #333333;
  
}

.whatsapp-cta {
  text-align: center;
  margin-top: 40px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #000000;
}

.whatsapp-button {
  background-color: #02ba67;
  color: #ffffff;
  padding: 20px 10px;
  width: 90%;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  margin-top: 15px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
  background-color: #387c73;
}










.job-search-insights {
  background-color: #ffffff;
  padding: 60px 40px;
  color: #333333;
}

.insights-container {
  max-width: 800px;
  margin: 0 auto;
}



.insights-box {
  
  border-radius: 10px;
  margin-bottom: 60px;

}

.insights-box h3 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #F65734
}

.insights-box ul {
  list-style-type: none;
  padding: 0;
}

.insights-box li {
  margin-bottom: 15px;
  font-size: 20px;
  display: flex;
  align-items: flex-start;
}

.insights-box .icon {
  margin-right: 10px;
  font-weight: bold;
}

.painful-truth {
  background-color: #ffffff;
}

.painful-truth .icon {
  color: #D32F2F;
}

.jobsocial-advantage {
  background-color: #ffffff;
}

.jobsocial-advantage .icon {
  color: #388E3C;
}

@media (min-width: 768px) {
  .job-heroes-title {
      font-size: 3.5rem;
  }
}

@media (min-width: 1024px) {
  .job-heroes-title {
      font-size: 4rem;
  }
}



.footer-wrapper {
  background-color: #ffffff;
  font-family: "Sora", sans-serif;
  margin-top: auto; /* Push footer to the bottom if content is short */
}

.footer-container {
  margin: 0 auto;
  margin-left: 10px;
  margin-right: 10px;
  background: linear-gradient(to right, #FF6D75, #F65734);
  border-radius: 20px 20px 0 0;
  padding: 40px;
  color: #ffffff;
}


.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
}

.footer-mission, .footer-community {
  flex-basis: 48%;
}

.footer-mission h3, .footer-community h3 {
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: 800;
}

.footer-mission p, .footer-community p {
  margin-bottom: 20px;
  line-height: 1.6;
  font-weight: 100;
}

.cta-button, .footer-whatsapp-button {
  display: inline-block;
  padding: 12px 30px;
  border-radius: 10px;
  font-weight: 400;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Space Grotesk', sans-serif;
  transition: background-color 0.3s ease;
  text-decoration: none;
  text-align: center;
  max-height: 300px;
  max-width: 300px;
}

.cta-button {
  background-color: #ffffff;
  color: #F65734;
  border: none;
}

.cta-button:hover {
  background-color: #ffe0e0;
}

.footer-whatsapp-button {
  background-color: #18ac4e;
  color: #ffffff;
  border: none;
}

.footer-whatsapp-button:hover {
  background-color: #128C7E;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
}

.footer-links a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }
  
  .footer-mission, .footer-community {
    flex-basis: 100%;
  }
  
  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-links a {
    margin: 10px;
    display: inline-block;
  }
}
